################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/obj
/.vs/Assignment/v15
/Api/obj
/Api.Test/obj
/Common/obj
/MultiplyService/obj
/WebApp/bin/Debug/netcoreapp2.1
/MultiplyService/bin/Debug/netcoreapp2.1
/Common/bin/Debug/netcoreapp2.1
/Api.Test/bin/Debug/netcoreapp2.1
/Api/bin/Debug/netcoreapp2.1
